@use "../abstract/variable"as v;
@use "../abstract/mixin"as m;

.footer {
  padding: 1rem 0;
  background-color: v.$primary;
  margin-top: 2rem;





  &__copyright {
    padding: 1rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: v.$secondary;
  }
}