@use "../abstract/variable"as v;
@use "../abstract/mixin"as m;

.header {
  padding: .5rem 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.screen("md") {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__logo {
    width: 30rem;
    margin-bottom: 5rem;

    @include m.screen('md') {
      margin-bottom: 0;
    }
  }
}