@use "../abstract/mixin"as m;
@use "../abstract/variable"as v;

.navigation {
  display: flex;
  flex-direction: column;

  align-items: center;

  @include m.screen('md') {
    flex-direction: row;
    gap: 2rem;
  }

  &__link {
    font-size: 2.4rem;
    margin-bottom: 2rem;

    &:last-of-type {
      margin-bottom: 0;
    }

    @include m.screen('md') {
      margin-bottom: 0;
    }
  }
}