//
// / variable
//

// font variable
$font-primary: 'Roboto',
sans-serif;


// media queries
//  smartphones
$sm: 480px;

//  tablets
$md: 768px;

// desktops
$lg: 1024px;
// desktops
$xl: 1200px;
// Color variables
$primary: blueviolet;
$secondary: #e2e2e2;


$black: #6b6b6b;
$white: #ffffff;
$grey: #3f3f3f;